<!DOCTYPE html>
<html lang="en">
  <head><% include partials/head.ejs %></head>
  <body>
  	<div class="container">
  	

  		
  		<% include partails/jsdefaults.ejs %>
  	</div> <!-- container -->
  </body>
</html>